<div class="mt-4 p-5 bg-primary text-white rounded">
  <h1>Welcome <%= current_user.email %></h1>
</div>

<div class='mt-4 p-5 bg-default text-white rounded'>
  <h1 style='color:white;'><%= link_to 'Add a Client', new_client_path %></h1>
</div>

