<h1>Editing date range</h1>

<%= render "form", date_range: @date_range %>

<br>

<div>
  <%= link_to "Show this date range", @date_range %> |
  <%= link_to "Back to date ranges", date_ranges_path %>
</div>
